

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Registration Form</h1>
<div>
    <form>
        <label for="your_name">Student name: </label>
        <input id="your_name" type="text" name="your_name">
        <input type="submit" value="OK">
    </form>
</div>
<div id="container" id>
    <video autoplay="False" id="videoElement"></video>
    <div>
        <button class="button button3" onclick="location.href='{% url 'index' %}'">EXIT</button>
    </div>
</div>
</body>
</html>

